html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include indent(0 auto, 0);
  min-width: 320px;
  min-height: 100vh;
  font-size: 17px;
  line-height: 1.4;
  font-family: $font;
  word-wrap: break-word;
  color: $color-main;
  font-style: normal;
  background-color: $white;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}