.manufacture {
    @include content-padding;

    margin-bottom: 58px;
}

.manufacture__wrap {
    border: $bd-line;

    &:focus-within {
        box-shadow: 0 6px 10px rgba($black, 0.1);
    }

    &:hover {
        box-shadow: 0 6px 10px rgba($black, 0.1);
    }

    &:active {
        box-shadow: 0 3px 5px rgba($black, 0.1);
    }
}

.manufacture__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 0;
}

.manufacture__title {
    @include indent;

    width: 170px;
    margin-left: 25px;

    font-size: 17px;
    line-height: 24px;
}

.manufacture__player {
    position: relative;

    min-height: 150px;

    img {
        display: block;
        width: 100%;
    }
}

.manufacture__player-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;

    width: 101px;
    height: 77px;

    font-size: 0;

    border: none;
    background-color: transparent;
    background-image: url("../img/play.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    cursor: pointer;
    transform: translate(-50%, -50%);

    &:hover,
    &:focus {
        outline: none;

        transform: translate(-50%, -50%) scale(1.2);
    }

    &:active {
        opacity: 0.3;

        transform: translate(-50%, -50%) scale(0.8);
    }
}

.manufacture__footer {
    padding: 28px 34px 32px;
}

.manufacture__text {
    @include indent;

    margin-bottom: 25px;

    font-size: 13px;
    line-height: 24px;
}

@include media-breakpoint-up(md) {
    .manufacture{
    	margin-bottom: 63px;
    }

    .manufacture__wrap {
        display: flex;
        flex-direction: column;
    }

    .manufacture__header {
        justify-content: flex-start;
        padding: 34px 41px 0;
    }

    .manufacture__title {
        width: auto;
        margin-left: 34px;
        font-size: 20px;
    }

    .manufacture__player {
        min-height: 455px;

        order: -1;
    }

    .manufacture__text {
    	margin-bottom: 35px;
    	font-size: 15px;
    	line-height: 30px;
    }

    .manufacture__footer {
	    padding: 30px 41px 45px;
	}
}

@include media-breakpoint-up(xl) {
	.manufacture{
    	margin-bottom: 105px;
    }

    .manufacture__wrap {
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        flex-wrap: wrap;

        &:focus-within {
	        box-shadow: 6px 0 10px rgba($black, 0.1);
	    }

	    &:hover {
	        box-shadow: 6px 0 10px rgba($black, 0.1);
	    }

	    &:active {
	        box-shadow: 3px 0 5px rgba($black, 0.1);
	    }
    }

    .manufacture__player {
    	width: 682px;
    }

    .manufacture__header {
    	flex-direction: column;
    	align-items: flex-start;
    	width: 366px;
    	margin-bottom: auto;
    	padding: 42px 56px 0 80px;
    }

    .manufacture__title {
    	margin-top: 22px;
    	margin-left: 0;
    }

    .manufacture__text {
    	margin-bottom: 45px;
    }

    .manufacture__footer {
    	width: 366px;
    	margin-top: -300px;
    	padding: 0 56px 59px 80px;
    }
}
