.reviews {
  padding-bottom: 50px;
}

.reviews__wrap {
  @include content-padding;
  position: relative;

  &:after {
    position: absolute;
    left: 0;
    bottom: -77px;
    z-index: 5;
    width: 100%;
    height: 34px;
    content: "";
    background-image: url(../img/bg-zigzag-line.svg);
    background-repeat: repeat-x;
  }
}

.reviews__title {
	@include title;
}

.reviews__slider {
	margin-top: 25px;
}

.reviews__text {
	@include indent;
	font-size: 15px;
	line-height: 30px;
}

.reviews__author {
	display: block;
	margin-top: 25px;
	margin-bottom: 30px;

	line-height: 30px;
	font-style: normal;
}

.reviews__author-name,
.reviews__at-name {
	display: block;
}

.reviews__btn {
	margin-top: 38px;
}

@include media-breakpoint-up(md) {
	.reviews {
		padding-bottom: 85px;
	}

	.reviews__wrap {
		display: flex;
    flex-wrap: wrap;
    padding-top: 75px;

		background-color: $white;
		background-image: url("../img/review@1x.jpg");
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size:  350px 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }

    &:after {
	    bottom: -102px;
	  }
	}

	.reviews__title {
    order: -2;
  }

  .reviews__slider {
		margin-top: 46px;
	}

	.reviews__text {
    font-size: 17px;
	}

  .reviews__author {
		margin-top: 55px;
		margin-bottom: 45px;
  }

  .reviews__author-name {
  	font-size: 18px;
  }

  .reviews__btn {
    order: -1;
    width: 171px;
    align-self: baseline;
  	margin-top: 0;
    margin-left: auto;
  }
}

@include media-breakpoint-up(xl) {
  .reviews {
  	margin: 0 50px;
    padding-bottom: 90px;
  }

  .reviews__wrap {
  	padding: 70px 0 0 175px;
  }

  .reviews__slider {
		margin-top: 50px;
	}

  .reviews__text {
		padding-right: 100px;
  }

  .reviews__author {
		margin-top: 36px;
		margin-bottom: 95px;
  }
}