@keyframes opacity {
    0% {
        opacity: 0;

        transform: scale(0.001);
    }

    100% {
        opacity: 1;

        transform: scale(1);
    }
}

.slider__toggle:checked + .slider__item {
    display: block;

    opacity: 0;

    animation: opacity 600ms ease-in-out;

    animation-fill-mode: forwards;
}

.slider__item {
    @include indent;

    display: none;
}

.slider__pagination {
    display: flex;
}

.slider__btn {
    @include indent;

    position: relative;

    width: 130px;
    height: 51px;

    font-size: 0;

    border: $bd-line;
    outline: none;
    background-color: $white;

    cursor: pointer;

    &--prev {
        border-right: none;
    }

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;

        margin-top: -13px;
        margin-left: -25px;
    }

    &:hover,
    &:focus {
        color: $white;

        background-color: $color-main;
    }

    &:active {
        color: $white;

        background-color: rgba($color-main, 0.6);
    }
}

@include media-breakpoint-up(md) {
    .slider {
        position: relative;
    }

    .slider__pagination {
        position: absolute;
        right: 0;
        bottom: 4px;
    }

    .slider__btn {
        width: 88px;

        border: none;
    }
}
